.haleyImg{
    height: auto;
    width: auto;
    max-width: 400px;
    max-height: 400px;
    border-radius: 50%;
    
}

p {
    font-family: 'Jost', serif;
    font-size: 1.5em;
    
}

.basic {
    position: relative;
    top: 20px;
}

.card{
    background-color: gray;
}
