

body{
    background-image: "url(/profilePic/portfolioBackground.png)";
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 970px;
}

.background {
    background-size: cover;
    width: 100%;
    height: 1000px;
}

.header{
    text-align: center;
    font-family: 'Cookie', serif;
    color: white;
}
